{{ "<!-- banner -->" | safeHTML }}
<div class="container section">
	<div class="row">
		<div class="col-lg-8 text-center mx-auto">
			<h1 class="text-white mb-3">{{ .Site.Params.banner.title | markdownify }}</h1>
			<h3 class="text-white mb-3">{{ .Site.Params.banner.subtitle | markdownify }}</h3>
			<h4 class="text-white">{{ .Site.Params.banner.phrase1 | markdownify }}</h4>
			<h4 class="text-white mb-0">{{ .Site.Params.banner.phrase2 | markdownify }}</h4>
			
		</div>
	</div>
</div>
{{ "<!-- /banner -->" | safeHTML }}