{{ define "main" }}

{{ if .Site.Params.cta.enable }}
{{ with .Site.Params.cta }}
{{ "<!-- call to action -->" | safeHTML }}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="px-3 mt-5  text-center">
          <h3>{{ .phrase1 | markdownify }}</h3>
          <h2 class="text-white">{{ .Site.Params.banner.phrase2 | markdownify }}</h2>

        <p style="font-size:x-large">{{ .content | markdownify }}</p>
        <div class="col-md-12">
          <p style=font-size:large>PySAL supports the development of high level applications for spatial analysis</p>
        <ul class="text-left" style="display:inline-block;vertical-align:middle;" style="text-align: left;">
          <li>-  detection of spatial clusters, hot-spots, and outliers</li>
          <li>- construction of graphs from spatial data</li>
          <li>- spatial regression and statistical modeling on geographically embedded networks</li>
          <li>- spatial econometrics</li>
          <li>- exploratory spatio-temporal data analysis</li>
        </ul>
      </div>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relLangURL }}" class="btn btn-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /call to action -->" | safeHTML }}
{{ end }}
{{ end }}

  {{ "<!-- topics -->" | safeHTML }}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2 class="section-title">{{ i18n "topics_title" | safeHTML }}</h2>
        </div>
        {{ "<!-- topic-item -->" | safeHTML }}
        {{ range (where .Site.Pages "Type" "modules") }}
        <div class="col-lg-3 col-sm-6 mb-3">
          <a href="{{ .Permalink }}" class="px-4 py-5 bg-white shadow text-center d-block match-height">
            <i class="{{ .Params.Icon }} icon text-primary d-block mb-4"></i>
            <h3 class="mb-3 mt-0">{{ .Title }}</h3>
            <p class="mb-0">{{ .Params.Description }}</p>
          </a>
        </div>
        {{ end }}
        <h4 class="mt-4">PySAL is structured as a family of independent Python modules organized into four thematic domains</h4>

      </div>
    </div>
  {{ "<!-- /topics -->" | safeHTML }}


{{ end }}